{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urbanizator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'core/css/core_styles.css' %}">

    <script src="https://kit.fontawesome.com/16c678032e.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="user-info">
                    <span>Bienvenido, {{ user.username }}</span>
                </div>
                <nav class="app-links">
                    <ul>
                        <li><a href="{% url 'add_street' %}">Cargar Calle</a></li>
                        <li><a href="{% url 'lista_calles' %}">Ver Calles</a></li>
                        
                    </ul>
                </nav>
                <div class="password-management">
                    <a href="#">Autogestión de Contraseña</a>
                </div>
                <div class="logout-icon">
                    <a href="{% url 'login' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </div>
            </div>
        </div>
    </header>


    <main class="main-content">

        {% block content %}
        {% endblock %}
        <!-- Aquí va el contenido específico de cada herramienta seleccionada -->
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="left">
                    <span><p>Localidad: {{ localidad_usuario }} | Fecha: {{ fecha }}</p></span>
                </div>
                <div class="center">
                    <span>Juzgado Electoral Federal - Río Gallegos - Informática - 2024</span>
                </div>
                <div class="right">
                    <a href="#">Formulario de Contacto</a>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>