html,
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info,
.app-links,
.password-management,
.logout-icon {
    margin-right: 20px;
}

.user-info span {
    font-weight: bold;
}

.app-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.app-links li {
    display: inline;
    margin-right: 10px;
}

.app-links li a {
    color: #fff;
    text-decoration: none;
}

.password-management a,
.logout-icon a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el contenido principal */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Estilos para el footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content span {
    font-size: 14px;
}

.footer-content .left,
.footer-content .right {
    flex-basis: 30%;
}

.footer-content .center {
    flex-grow: 1;
}