body {
  background-image: url('/static/accounts/images/fondo_glaciar.jpg');
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f0f0; Color de fondo de la página */
}

.form {
  width: 400px;
  height: 300px;
  background-color: #fff;
  border: 3px solid #615d5d;
  padding: 20px;
  margin: 40px auto;
  transform-style: preserve-3d;
  perspective-origin: 50px center;
  perspective: 4000px;
  transition: transform 1s ease;
}

.form-animated {
  transition: transform 0.3s ease;
}

/* Campo del formulario */
.field {
  position: relative;
  margin-top: 10px;
  transform-style: preserve-3d;
}

/* Icono en el campo */
.icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
  transform: translateZ(150px);
  transform-style: preserve-3d;
}

/* Estilos del input */
.input {
  
  border: 2px solid #252424;
  background-color: #fff;
  height: 48px;
  line-height: 48px;
  padding: 0 10px 0 48px; /* Espaciado para el icono */
  width: 100%;
  transform: translateZ(0px); /* Posición inicial */
  transition: transform 0.3s ease; /* Transición suave */
}

.form-animated .input {
  transform: translateZ(26px); /* Posición sobresalida */
}

/* Estilos del botón */
.button {
  display: block;
  width: 100%;
  border: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(45deg, #e53935, #e35d5b);
  margin-top: 20px;
  padding: 14px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(26px);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: translateZ(13px);
}

/* Lados del formulario */
.side-top-bottom {
  width: 100%;
}

.side-top-bottom::before,
.side-top-bottom::after {
  content: '';
  width: 100%;
  height: 26px;
  background: linear-gradient(45deg, darken(#e53935, 5%), darken(#e35d5b, 5%));
  position: absolute;
  left: 0;
}

.side-top-bottom::before {
  transform-origin: center top;
  transform: translateZ(-26px) rotateX(90deg);
  top: 0;
}

.side-top-bottom::after {
  transform-origin: center bottom;
  transform: translateZ(-26px) rotateX(-90deg);
  bottom: 0;
}

.side-left-right {
  height: 100%;
}

.side-left-right::before,
.side-left-right::after {
  content: '';
  height: 100%;
  width: 26px;
  position: absolute;
  top: 0;
}

.side-left-right::before {
  background: #e53935;
  transform-origin: left center;
  transform: rotateY(90deg);
  left: 0;
}

.side-left-right::after {
  background: #e35d5b;
  transform-origin: right center;
  transform: rotateY(-90deg);
  right: 0;
}

.face-up-left {
  transform: rotateY
}
